<div class="row">
	<div class="col-md-12">	
			<div class="col-md-6">
				<h1><%= User.find(@profile.user_id)[:first_name] %> <%= User.find(@profile.user_id)[:last_name] %></h1>
				<% if @profile.profile_phone_number.present? %>
					<p><%= @profile.profile_phone_number %></p>	
				<% end %>
				<%= User.find(@profile.user_id)[:email] %>
				<p>
					<% if @profile.profile_url.present? %>
						<a href="http://<%= @profile.profile_url %>" target="_blank">website</a> |
					<% end %>
					<% if @profile.profile_github.present? %>
						<a href="http://<%= @profile.profile_github %>" target="_blank">github</a> | 	
					<% end %>
					<% if @profile.profile_twitter.present? %>
						<a href="http://<%= @profile.profile_twitter %>" target="_blank">twitter</a> |		
					<% end %>
					<% if @profile.profile_linkedin.present? %>
						<a href="http://<%= @profile.profile_linkedin %>" target="_blank">linkedin</a>
					<% end %>
				</p>
			</div>
			<div class="col-md-6">
				<% if @profile.profile_image.present? %>
					<img src="<%= @profile.profile_image %>" height="150px" class="rounded" >	
				<% end %>
			</div>
		</div>
	</div>
<% if @profile.profile_youtube.present? %>
	<div class="row">
		<div class="col-md-12">		
			<iframe width="100%" height="520" src="https://www.youtube.com/embed/<%= @profile.profile_youtube %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>	
		</div>
	</div>
<% end %>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<% if @profile.profile_bio.present? %>
				<h3>Personal Profile</h3>
				<p><%= simple_format(@profile.profile_bio) %></p>	
			<% end %>

			<br>
		</div>
			<div class="col-md-6">
		  		<% if @profile.profile_objective.present? %>
				<h3>Objective</h3>
				<p><%= simple_format(@profile.profile_objective) %></p>	
			<% end %>
				<h3>Interested In</h3>
				<p class="top-spacer">
					<a href="#" class="btn btn-xs btn-warning" >Freelance</a>
					<a href="#" class="btn btn-xs btn-success" >Contract</a>
					<a href="#" class="btn btn-xs btn-info" >Permanent</a>
				</p>
			</div>	
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Experience</h2>
		<p></p>
		<div class="col-md-3">
			<!-- <h4>Focus</h4> -->
			<%= doughnut_chart @data_pie, @pie_chart_options %>
			<!-- Dropdown: confidence: front end, back end, database, = piechart -->
		</div>
		<div class="col-md-9">
				<!-- <h3>Background</h3> -->
			<div class="col-md-4">		
				<h4>Current level</h4>
				<p class="highlight">Junior Developer</p>
				<!-- dropdown: in bootcamp, completed bootcamp, Junior Developer, Mid-level Developer, Senior Developer,  -->
			</div>
			<div class="col-md-4">
				<h4>Years of Experience</h4>
				<p class="highlight">12 Years, <br>03 Months</p>
				<!-- <p>Dropdown: started programming: MM YYYY</p> -->
			</div>
			<div class="col-md-4">
				<h4>Background</h4>
				<p class="highlight">Self Taught</p>
				<!-- dropdown: self taught, CS Degree, Bootcamp, on the job -->
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12" style="">
		<center><h4> x = projects shipped | y = years of work | radius = confidence</h4></center>
		<%= bubble_chart  @data, @bubble_chart_options %>	
	</div>
</div>
<div class="row">
	<div class="col-md-12 ">
		<table style="text-align: center;" class="align-middle table">
			<thead style="">
				<tr>
					<th>language</th>
					<th>years</th>
					<th>shipped</th>
					<th>confidence</th>
					<th></th>
				</tr>
			</thead>
			<tr>
				<td>html</td>
				<td>10</td>
				<td>80</td>
				<td>60 /100</td>
				<td><span style="background-color: rgb(255, 99, 132); padding: 4px 20px 4px 8px;" class="">&nbsp;</span></td>
			</tr>
			<tr>
				<td>css</td>
				<td>10</td>
				<td>60</td>
				<td>80 /100</td>
				<td><span style="background-color: rgb(255, 99, 132); padding: 4px 20px 4px 8px;" class="">&nbsp;</span></td>
			</tr>
			<tr>
				<td>php</td>
				<td>4</td>
				<td>40</td>
				<td>20 /100</td>
				<td><span style="background-color: rgb(255, 99, 132); padding: 4px 20px 4px 8px;" class="">&nbsp;</span></td>
			</tr>
			<tr>
				<td>ruby</td>
				<td>0.8</td>
				<td>2</td>
				<td>25 /100</td>
				<td><span style="background-color: rgb(255, 99, 132); padding: 4px 20px 4px 8px;" class="">&nbsp;</span></td>
			</tr>
			<tr>
				<td>rails</td>
				<td>0.4</td>
				<td>1</td>
				<td>20 /100</td>
				<td><span style="background-color: rgb(255, 99, 132); padding: 4px 20px 4px 8px;" class="">&nbsp;</span></td>
			</tr>
			<tr>
				<td>javascript</td>
				<td>0.1</td>
				<td>1</td>
				<td>10 /100</td>
				<td><span style="background-color: rgb(255, 99, 132); padding: 4px 20px 4px 8px;" class="">&nbsp;</span></td>
			</tr>
		</table>
	</div>
</div>



<% if @work_history.present? %>
	<div class="row">
		<div class="col-md-12">
			<h2>Projects & Work History</h2>
		</div>
			<% @work_history.each do |job| %>
				<div class="well well-lg">
					<div class="col-md-4">
						<h4><%= job.previous_job_title %></h4>	
					</div>
					<div class="col-md-3">
					    <h4><%= job.previous_company_name %></h4>
					</div>
					<div class="col-md-7">
						<p>
				    	<% @code_languages.each do |lang| %>
		  					<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a> 
	  					<% end %>
	  					</p>
				    	<p><%= simple_format(job.previous_job_description) %></p>
				    </div>
				    <div class="col-md-5">
				    	<img src="<%= @profile.profile_wallpaper %>" class="rounded previous-company-iamge" >
	  					<p class="top-spacer">
	  						<a href="http://<%= @profile.profile_url %>" target="_blank" class="btn pull-left" style="width: 40%" >Website</a> 
		  					<a href="http://<%= @profile.profile_url %>" target="_blank" class="btn pull-right" style="width: 40%" >Github </a>
		  				</p>
				    </div>
				    <div class="col-md-7">
				    	<h5>Aug 09 / Sep 15</h5>
				    </div>
				</div>
			<% end %>
		</div>
<% end %>
<div class="row">
	<div class="col-md-7">
		<% if @profile.profile_additional_notes.present? %>
			<h2>Additional Notes</h2>
			<p><%= simple_format(@profile.profile_additional_notes) %></p>	
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<% if current_user.id == @profile.user_id %>
			<p class="top-spacer"><%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-info" %> <%= link_to 'back to job listings', jobs_path, class: "btn" %>
		<% end %>
		<% if  !(current_user.id == @profile.user_id) && (admin_user? || employer?) %>
			<%= link_to 'Back to applications', job_applications_path, class: "btn" %>
			     save for later | invite to apply
		<% end %>
		</p>
	</div>
</div>
