<h1>Show application</h1>
Application User ID: <%= @application.user_id %>
<br />
Application Job ID: <%= @application.job_id %>
<br />
Application Body:<%= @application.application_body %>
<br />

<% if @application.youtube_url.present? %>
	Application YouTube <%= @application.youtube_url %>
	<br />

	<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @application.youtube_url %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<% end %>

<br />
<br />
<% if current_user.id == @application.user_id %>
	<%= link_to 'Edit', edit_application_path(@application) %> | 
	<%= link_to 'Delete', application_path(@application), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %> | 
<% end %>	
<%= link_to "Cancel and return to all applications", applications_path %>


