<div class="row">
	<div class="col-md-3">
		<%= render 'menu' %>
	</div>
	<div class="col-md-9">
		<h1>Admin Area</h1>
		<div class="col-md-3 ">
			<small>Total Users</small>
			<p class="kpi-number"><%= User.count %></p>
		</div>
		<div class="col-md-3 ">
			<small>Companies</small>
			<p class="kpi-number"><%= Company.count %></p>
		</div>
		<div class="col-md-3 ">
			<small>Applicant Profiles</small>
			<p class="kpi-number"><%= Profile.count %></p>
		</div>
		<div class="col-md-3 ">
			<small>Job Descriptions</small>
			<p class="kpi-number"><%= Job.count %></p>
		</div>
		<p class="lead"> This section will eventually be filled with graphs on how the business is doinw and will provide access to all the mareting areas like the blog and landing pages.</p>
		<p>Lorem Khaled Ipsum is a major key to success. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Eliptical talk</p>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Line Series</h3>
                </div>
                <div class="card-block">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Polar Series</h3>
                </div>
                <div id="chart2" class="card-block">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Area Series</h3>
                </div>
                <div class="card-block">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>StepLine Series</h3>
                </div>
                <div id="chart4" class="card-block">
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Pie Series</h3>
                </div>
                <div class="card-block">
                    <div id="chart8"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h3>Pie Customized Series</h3>
                </div>
                <div id="chart9" class="card-block">
                </div>
            </div>
        </div>
    </div>   
</div>



<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        var data1 = [40, 40, 4, 2, 12, 3, 4, 17, 22, 34, 54, 67];
        var data2 = [3, 9, 12, 14, 22, 32, 45, 12, 67, 45, 55, 7];
        var data3 = [23, 19, 11, 134, 242, 352, 435, 22, 637, 445, 555, 57];
        var data4 = [13, 19, 112, 114, 212, 332, 435, 132, 67, 45, 55, 7];
            
        $("#chart8").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "line",
                data: data1
            }]
        });

        $("#chart9").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "polarbar",
                data: data2
            }]
        });

        $("#chart3").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "area",
                data: data3
            }]
        });

        $("#chart4").shieldChart({
            exportOptions: {
                image: false,
                print: false
            },
            axisY: {
                title: {
                    text: "Break-Down for selected quarter"
                }
            },
            dataSeries: [{
                seriesType: "stepline",
                data: data4
            }]
        });
    });
</script>

<script type="text/javascript">
    jQuery(function ($) {
        var data1 = [12, 3, 4, 2];
        var data2 = [3, 9, 12, 14];       
            
        $(function () {            
            $("#chart1").shieldChart({
                exportOptions: {
                    image: false,
                    print: false
                },
                axisY: {
                    title: {
                        text: "Break-Down for selected quarter"
                    }
                },               
                dataSeries: [{
                    seriesType: "pie",
                    enablePointSelection: true,
                    data: data1
                }]
            });

            $("#chart2").shieldChart({
                exportOptions: {
                    image: false,
                    print: false
                },
                seriesSettings: {
                    pie: {
                        enablePointSelection: true,
                        borderColor: 'black',
                        borderWidth: 3,
                        dataPointText:
                            {
                                style: {                                    
                                    fontWeight: 'bold'
                            }
                        }
                    }
                },
                axisY: {
                    title: {
                        text: "Break-Down for selected quarter"
                    }
                },               
                dataSeries: [{
                    seriesType: "pie",                    
                    data: data2
                }]
            });

       
        });
      
    });
</script>