<%= render 'shared/errors', obj: @job %>
<div class="row">
	<div class="col-md-12"> 
		<%= form_for(@job, :html => {class: "form-horizontal", role: "form"}) do |f| %>
		<div class="form-group" > 
			<div class="col-sm-2 contol-label"><%= f.label :title %></div>
			<div class="col-sm-10 "> <%= f.text_field :title, class: "form-control", placeholder: "Job Title", autofocus: true %></div>
		</div>
		

		<div class="form-group" >
			<div class="col-sm-2 contol-label">
				<%= f.label :code_languages %>
			</div>

				<div class="col-sm-10 "> 
				<div class="form-check form-check-inline">
						<%= f.collection_check_boxes :code_language_ids, CodeLanguage.all, :id, :name do |cb| %>
							<% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %>
						<% end %>
					</div>
				</div>
			</div>

		<div class="form-group" > 
			<div class="col-sm-2 contol-label"><%= f.label :description %></div>
			<div class="col-sm-10 "><%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Please provide as much detail about the role as possible...", autofocus: true  %></div>
		</div>
		<div class="form-group" > 
			<div class="col-sm-2 contol-label"><%= f.label :location %></div>
			<div class="col-sm-10 "><%= f.text_field :location, class: "form-control", placeholder: "City, Country", autofocus: true %></div>
		</div>
		<div class="form-group" > 
			<div class="col-sm-2 contol-label"><%= f.label :salary %></div>
			<div class="col-sm-10 "> <%= f.text_field :salary, class: "form-control", placeholder: "Salary", autofocus: true %></div>
		</div>
		<div class="form-group" >
			<div class="col-sm-10 col-sm-offset-2"><%= f.submit class: "btn btn-lg btn-success" %>    <%= link_to "Cancel and return to job listings", jobs_path %></div>
		</div>
		<% end %>
	</div>
</div>


