
<div class="row">
	<div class="col-md-12">
		<h1>All Job Listings</h1>

		<p>Lorem Khaled Ipsum is a major key to success. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Eliptical talk
		</p>
		<hr />
		<table>
			<tr>
				<th>Title</th><th>Languages</th><th>Location</th>
			</tr>
			<% @jobs.each do |job| %>
				<tr>
					<td><%= link_to job.title, job_path(job) %></td>
					<td>
						<% job.code_languages.each do |lang| %>
	  						<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a>
  						<% end %>		
  					</td>
					<td><%= job.location %></td>

					<% if current_user && (current_user.id == job.user_id || admin_user?) %>
						<td><%= link_to 'View', job_path(job), class: "btn btn-xs btn-info" %></td>
						<td><%= link_to 'Edit', edit_job_path(job), class: "btn btn-xs btn-info" %></td>
						<td><%= link_to 'Delete', job_path(job), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
		<hr />	
	</div>
</div>


