
<div class="row">
	<div class="col-md-8">
		<h1>All Job Listings</h1>
		<p>Lorem Khaled Ipsum is a major key to success. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Eliptical talk
		</p>
	</div>
</div>
<div class="row">
  	<div class="col-sm-4">
    	<div class="card">
      		<div class="card-body">
        		<h4 class="card-title">Featured listing 1</h4>
        		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        		<a href="#" class="btn btn-primary">Learn more</a>
      		</div>
    	</div>
	</div>
	<div class="col-sm-4">
	    <div class="card">
	      	<div class="card-body">
	        	<h4 class="card-title">Featured listing 2</h4>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-secondary">Learn more</a>
	      	</div>
	    </div>
  	</div>
  	<div class="col-sm-4">
    	<div class="card">
      		<div class="card-body">
        		<h4 class="card-title">Featured listing 3</h4>
        		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        		<a href="#" class="btn btn-success">Learn more</a>
      		</div>
    	</div>
  	</div>
</div>

<div class="row">
	<% @jobs.each do |job| %>
	<div class="col-md-4">
		<div class="card">
	      	<div class="card-body">
				<div class="right"> <img src=""> </div>
				<h4 class="card-title"><%= link_to job.title, job_path(job) %></h4>
				<small><strong><%= Company.find(job.company_id).company_name %></strong>, <%= job.location %></small> <br/ >
				<hr>	
		        <p class="card-text">
		        	<% job.code_languages.each do |lang| %>
		  				<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a>
	  				<% end %></p>
	        	<% # link_to 'View', job_path(job), class: "btn btn-success" %>
	        	<% if current_user && (current_user.id == job.user_id || admin_user?) %>
					<%= link_to 'Edit', edit_job_path(job), class: "btn btn-xs btn-info" %>
					<%= link_to 'Delete', job_path(job), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
					<% end %>
	      	</div>
	    </div>
	</div>
	<% end %>
</div>
<div class="row">
	<div class="col-lg-12">
		<hr />
	</div>
	
</div>
<% if !current_user %>
	<div class="row">
		<div class="col-lg-12">
			<div class="card bg-dark text-white"  >
  				<div class="card-img-overlay" style="background-image: url('/assets/window.jpg'); " >
    				<h3 class="card-title">Contextual ad spaces</h3>
	    			<p class="card-text card-caption">This ad will only appear if the viewer is not logged in. If they are logged in as an employer, they will see something else, an ad about a multiple listing deal for example. If they are an applicant, they will see recent applications or featured listings.</p>
    				
 				</div>
			</div>
		</div>
	</div>
	<% elsif current_user && ( employer? || admin_user? ) %>
		<div class="row">
			<div class="col-sm-4">
				<div class="card bg-dark text-white" style=" background-color: #000; height: 220px;">
				  <div class="card-body"  >
				    <!-- <h4 class="card-title">Special title treatment</h4> -->
				    <p class="card-text">Super Premium Ad Space Image</p>
				    
				  </div>
				</div>
			</div>
		  	<div class="col-md-8">
		  		<h3>Super Premium Ad Space Copy targeting employers only</h3>
				<p>This ad will only appear if the viewer is not logged in. If they are logged in as an employer, they will see something else, an ad about a multiple listing deal for example. If they are an applicant, they will see recent applications or featured listings.</p>
				<%= link_to "Create Job", new_job_path, class: "btn btn-warning"  %>
			</div>
		</div>	
	<% else %>	
		 <div class="row">
			<div class="col-md-8 offset-2 text-center">
		  		<h2>Featured Listings</h2>
			</div>
		<div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h4 class="card-title">Job title one</h4>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
		        <a href="#" class="btn btn-warning">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h4 class="card-title">Job title two</h4>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
		        <a href="#" class="btn btn-info">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-4">
		    <div class="card">
		      <div class="card-body">
		        <h4 class="card-title">Job title three</h4>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
		        <a href="#" class="btn btn-danger">Go somewhere</a>
		      </div>
		    </div>
		</div>
	</div>
<% end %>
<hr>
