<div class="col-md-offset-2">
	<h1> <%= @job.title %></p>
	<p>At COMPANY NAME</p>
	<h5>Job Description:</h5> 
	<p><%= @job.description %></p>

	<h5>Job Location: <%= @job.location %></h5>
	<hr />
	<%= link_to 'Edit', edit_job_path(@job) %> | <%= link_to "Back to job listings", jobs_path %>
</div>