<div class="row">
	<div class="col-md-8">
		<h1><%= @job.title %></h1>
		<p>at COMPANY NAME</p>
	</div>
	<div class="col-md-4">
		<h5>Salary: £30,000</h5>
		<h5>Start Date: </h5>
		<h5>Posted Date: </h5>
		<h5>Job Location: <%= @job.location %></h5>
		<h5>Featured Post: True</h5>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<p><%= simple_format(@job.description) %></p>	
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<hr />
		<%= link_to "Back to job listings", jobs_path, class: "btn btn-xs btn-primary" %>
		<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-xs btn-secondary" %>  
		<%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
		
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<hr />
		<a href="" class="btn btn-lg btn-success">Apply</a>  <%= link_to "Back to job listings", jobs_path %>
	</div>
</div>