<div class="row">
	<div class="col-md-5">
		<h1><%= @job.title %></h1>
		<p>at <%= @company_name %></p>
	</div>
	<div class="col-md-3">
		<h5>Salary: £<%= @job.salary %></h5>
		<h5>Start Date: </h5>
		<h5>Posted Date: </h5>
		<h5>Job Location: <%= @job.location %></h5>
		<h5>Featured Post: True</h5>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<% @job.code_languages.each do |lang| %>
	  		<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a> 
  		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<p><%= simple_format(@job.description) %></p>	
	</div>
 	<div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured listing 1</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <a href="#" class="btn btn-primary">Learn more</a>
	      </div>
	    </div>
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured listing 2</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <a href="#" class="btn btn-secondary">Learn more</a>
	      </div>
	    </div>
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured listing 3</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <a href="#" class="btn btn-success">Learn more</a>
	      </div>
	    </div>
	</div>
</div>

<% if current_user && (current_user.id == @job.user_id || admin_user?) %>
	<div class="row">
		<div class="col-md-8">
			<hr />
			<p><%= link_to 'Edit', edit_job_path(@job), class: "btn btn-xs btn-primary" %>  
			<%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></p>
			
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-8">
		<hr />
	</div>
	<div class="col-md-6">
		
		<h3><%= @company_name %></h3>
		<p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. The key is to drink coconut, fresh coconut, trust me. They never said winning was easy. Some people can’t handle success, I can.</p>
		<p><%= link_to 'Learn more', company_path(@job.company_id) %>


			 | 
			<a href="http://<%= @company_url %>" target="_blank" >www</a> 
			<a href="http://<%= @company_github %>" target="_blank">git</a> 
			<a href="http://<%= @company_twitter %>" target="_blank">tw</a> 
			<a href="http://<%= @company_facebook %>" target="_blank">fb</a></p>
	</div>
	<div class="col-md-4">
		<img src="<%= @company_logo %>" class="some-class" style="max-width: 150px; padding-top: 30px;" >
	</div>
</div>

	<div class="row">
		<div class="col-md-8 ">
			<hr />
			<% if !employer? %>
			
			<%= link_to "Apply Now", new_application_path(:job_id => params[:id]), class: "btn btn-lg btn-success" %>
			<% end %>
			<%= link_to "Back to job listings", jobs_path, class: "btn btn-info" %>
		</div>
	</div>