<%= @job.user_id %>
<div class="row">
	<div class="col-md-5">
		<h1><%= @job.title %></h1>
		<p>at COMPANY NAME</p>
	</div>
	<div class="col-md-3">
		<h5>Salary: £30,000</h5>
		<h5>Start Date: </h5>
		<h5>Posted Date: </h5>
		<h5>Job Location: <%= @job.location %></h5>
		<h5>Featured Post: True</h5>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<p><%= simple_format(@job.description) %></p>	
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<hr />
		<p><%= link_to 'Edit', edit_job_path(@job), class: "btn btn-xs btn-primary" %>  
		<%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></p>
		<hr />	
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. The key is to drink coconut, fresh coconut, trust me. They never said winning was easy. Some people can’t handle success, I can.</p>
		<p><a href="#">Learn more</a> | <a href="#">www</a> <a href="#">git</a> <a href="#">tw</a> <a href="#">fb</a></p>
	</div>
	<div class="col-md-4">
		<%= image_tag("phone.jpg", class: 'some-class', style: 'width: 100%; padding-top: 30px;' ) %>
	</div>
</div>
	<div class="row">
		<div class="col-md-8 ">
			<hr />
			<%= link_to "Apply", new_user_registration_path, class: "btn btn-lg btn-success" %>  
			<%= link_to "Back to job listings", jobs_path %>
		</div>
	</div>