<div class="row">
	<div class="col-md-8">
		<% if current_user && !Profile.find_by(user_id: current_user.id) && !employer? %>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h2 class="panel-title">Warning</h2>
				</div>
				<div class="panel-body">
					<p>You need to create a profile before you can appy for jobs</p>
				</div>
			</div>
		<% end %>

		<% if @job.featured == true %> <a href="#" class="btn btn-xs btn-warning">Featured Listing</a><% end %>
		<br />
		<h1><%= @job.title %></h1>
		<p>at <%= @company.company_name %> | <%= @job.location %></p>
		<% @job.code_languages.each do |lang| %>
	  		<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a>
  		<% end %>
		<h4>Salary: £<%= @job.salary %></h4>
		<h5>Start Date: </h5>
		<h5>Posted Date: </h5>
		<p><%= simple_format(@job.description) %></p>
		<hr />
	</div>
	<div class="col-md-4">
		<% @jobs[0..2].each do |job| %>
			<% if job.featured == true %>
					<div class="card">
				      	<div class="card-body">
							<div class="pull-right"> <a class="btn btn-xs btn-warning" href="#">featured</a></div>
							<h4 class="card-title"><%= link_to job.title, job_path(job) %></h4>
							<small><strong><%= Company.find(job.company_id).company_name %></strong>, <%= job.location %></small> <br/ >
							<hr>
					        <p class="card-text">
					        	<% job.code_languages.each do |lang| %>
					  				<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a>
				  				<% end %></p>
				        		<% if current_user && (current_user.id == job.user_id || admin_user?) %>
									<%= link_to 'Edit', edit_job_path(job), class: "btn btn-xs btn-info" %>
									<%= link_to 'Delete', job_path(job), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
							<% end %>
				      	</div>
				    </div>
			<% end %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<%if @job.the_role.present? %>
			<h3>What you will be doing on a daily basis...</h3>
			<p><%= simple_format(@job.the_role) %></p>
		<% end %>
		<%if @job.applicant_background.present? %>
			<h3>Ideal background...</h3>
			<p><%= simple_format(@job.applicant_background) %></p>
		<% end %>
		<%if @job.skills_essential.present? %>
			<h3>Essentiall skills...</h3>
			<p><%= simple_format(@job.skills_essential) %></p>
		<% end %>
		<%if @job.skills_ideal.present? %>
			<h3>Non-essential skills...</h3>
			<p><%= simple_format(@job.skills_ideal) %></p>
		<% end %>
		<%if @job.tech_stack.present? %>
			<h3>More details about the tech stack...</h3>
			<p><%= simple_format(@job.tech_stack) %></p>
		<% end %>
		<%if @job.benefits.present? %>
			<h3>Benefits</h3>
			<p><%= simple_format(@job.benefits) %></p>
		<% end %>
	</div>
</div>
<% if current_user && (current_user.id == @job.user_id || admin_user?) %>
	<div class="row">
		<div class="col-md-8">
			<p class="top-spacer">
				<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-info" %>
				<%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
			</p>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="col-md-8">
		<hr />
	</div>
	<div class="col-md-6">
		<h3><%= @company.company_name %></h3>
		<p>I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. The key is to drink coconut, fresh coconut, trust me. They never said winning was easy. Some people can’t handle success, I can.</p>
		<p><%= link_to 'View Company', company_path(@job.company_id), class: "btn" %></p>
	</div>
	<div class="col-md-4">
		<img src="<%= @company.logo_url %>" class="some-class" style="max-width: 150px; padding-top: 30px;" >
	</div>
</div>
<div class="row">
	<div class="col-md-8 ">
		<hr />

			<% if current_user && !Profile.find_by(user_id: current_user.id) && !employer? %>
				<p>Please complete your profile to be able to apply for this role</p>
				<br />
			<% elsif current_user && employer? %>
				<%= link_to "Back to job listings", jobs_path, class: "btn" %>
			<% else %>
			<%= link_to "Apply Now", new_job_application_path(:job_id => params[:id]), class: "btn btn-lg btn-success" %> <%= link_to "back to job listings", jobs_path %>
			<% end %>



	</div>
</div>
