<div class="row">
	<div class="col-md-12">
		<h1>Applications</h1>
		<p>Manage your job applications</p>
	</div>
</div>
<% if employer? || admin_user? %>
	<div class="row">
		<div class="col-md-7">
			<h2>Recent job applications</h2>
			<p>These are all the applications that have been sent in from people who wish to work with you.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<table>
				<% @applications.each do |application| %>
					<% if current_user.id == Job.find(application.job_id)[:user_id] %>
						<tr>
							<td style="width: 100%;"><%= application.user_id %>. <%= User.find(application.user_id)[:first_name] %>'s application for <strong><%= Job.find(application.job_id)[:title] %></strong></td>
							<td><%= link_to 'View', job_application_path(application.id), class: "btn btn-xs btn" %>  </td>
							<% if admin_user? %>
								<td><%= link_to 'Edit', edit_job_application_path(application.id), class: "btn btn-xs btn-info" %></td>
								<td><%= link_to 'Delete', job_application_path(application), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
							<% end %>
						</tr>
					<% end %>
				<% end %>
			</table>		
		</div>
	</div>
<% end %>
<% if applicant? || admin_user? %>
	<div class="row">
		<div class="col-md-12">		
			<h2>Recent Applications <% if admin_user? %>(as an employee)<% end %></h2>
			<p>These are all of the applications you have sent to potential employers.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<table>
				<% @applications.each do |application| %>
					<% if current_user.id == application.user_id %>
						<tr>
							<td style="width: 100%;"><%= Job.find(application.job_id)[:title] %></td>
							<td><%= link_to 'View', job_application_path(application.id), class: "btn btn-xs btn" %></td>
							<td><%= link_to 'Edit', edit_job_application_path(application.id), class: "btn btn-xs btn-info" %></td>
							<td><%= link_to 'Delete', job_application_path(application), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
						</tr>					
					<% end %>
				<% end %>
			</table>	
		</div>	
		<% if admin_user? %>
			<div class="col-md-3">
				<p>This could be an ad space of some kind</p>
			</div>
		<% end %>
	</div>
<% end %>
<% if employer? || admin_user? %>
	<div class="row">
		<div class="col-md-12">		
			<h2>Recent Job Ads</h2>
			<p>This is a list of the job ads you have posted.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<table>
				<% @jobs.each do |job| %>
					<% if current_user.id == job.user_id %>
						<tr>
							<td style="width: 100%;"><%= job.title %></td>
							<td><%= link_to 'View', job_path(job), class: "btn btn-xs btn" %></td>
							<td><%= link_to 'Edit', edit_job_path(job.id), class: "btn btn-xs btn-info" %></td>
							<td><%= link_to 'Delete', job_path(job), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
						</tr>					
					<% end %>
				<% end %>
			</table>	
		</div>	
		<% if admin_user? %>
			<div class="col-md-3">
				<p>This could be an ad space of some kind</p>
			</div>
		<% end %>
	</div>
<% end %>
