<div class="row align-items-end">
	<div class="col-lg-12">
		<div class="jumbotron text-white" style="background-image: url(<%= asset_path 'junior-dev.jpg' %>); ">
			<h2 class="">Junior Devs && Great Companies</h2>
	  		<p class="lead">We connect people who want to build great websites and software</p>
			<p class="">
				<%= link_to "Explore Jobs", jobs_path, class: "btn btn-success" %>
				<%= link_to "Find Devs", new_user_registration_path, class: "btn btn-outline-light" %>
			</p>
		</div>
	</div>
</div>
<div class="row justify-content-md-center">
  	<div class="col-md-2"></div>
  	<div class="col-md-8  text-center">
		<p>Finding your first role as a junior developer is a huge challenge. Once you're confident that you've picked up all the right languages and frameworks, the next step is signing up-to hundreds of platforms and applying for roles. Equally, from an employers perspective, sifting through the growing pool of candidates on hundreds of websites is frustrating, expensive and time consuming, so we've built a platform that simplifies the process</p>
	</div>
	<div class="col-md-2"></div>
</div>
<%= render 'shared/featured_jobs' %>
<div class="row">
	<div class="col-lg-12">
		<div class="card align-items-center text-center" style="">
		  <div class="card-body"  >
		    <h2 class="card-title">Search</h2>
		    <p class="card-text text-center">Your ideal job is just a few clicks away...</p>
		    <p class="card-text text-center">
			    <%= form_tag(jobs_path, method: :get) do %>
  <%= text_field_tag :term, params[:term], class: "form-control" %>
  <br />
  <%= submit_tag 'Search', name: nil, class: "btn btn-success" %>
<% end %>
			</p>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card bg-dark text-white large-card" >
			<div class="card-img-overlay" style="background-image: url(<%= asset_path 'office-drk.png' %>); background-repeat: no-repeat; background-size: cover; " >
				<h3 class="card-title" >Looking for the right Junior Developer?</h3>
    			<p class="card-text card-caption">Signing up to sourceCoder allows you to get in front of thousands of junior developers who visit our site by publishing ads</p>
    			<p class="card-text card-caption">You also get access to our searchable database of developers so you can contact them directly</p>
    			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-warning sign-up' %>  <%= link_to "Learn more", hiring_path %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<% @companies.each do |company| %>
		<% if company.featured == true %>
			<% if Company.where(featured: true).count == 1 %>
				<div class="col-md-12">
				<% elsif Company.where(featured: true).count == 2 %>
					<div class="col-md-6">
				<% else %>
					<div class="col-md-4">
			<% end %>
			<div class="card">
		      	<div class="card-body">
		      		<% if company.featured == true %>
						<div class="pull-right"> <a class="btn btn-xs btn-warning" href="#">featured</a></div>
						<% end %>
					<h4 class="card-title"><%= link_to company.company_name, company_path(company) %></h4>
					<p class="card-text"><%= company.company_strapline %></p>
						<small><%= company.location %></small> <br/ >
					<hr>	
		        	<% if current_user && (current_user.id == company.user_id || admin_user?) %>
						<%= link_to 'Edit', edit_company_path(company), class: "btn btn-xs btn-info" %>
						</td>
						<% end %>
		      		</div>
		    	</div>
			</div>		
		<% end %>
	<% end %>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card bg-dark text-white large-card"  >
			<div class="card-img-overlay" style="background-image: url(<%= asset_path 'brooke.jpg' %>); " >
				<h3 class="card-title">Ready to start making great products?</h3>
				<p class="card-text card-caption">Ensure you are always visible to the hottest startups and development teams before they post their ads by creating a profile on sourceCoder. 
				<p class="card-text card-caption">You'll also get access to all of our listings so you can submit applications.</p>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success sign-up' %> <%= link_to "Learn more", applying_path %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card align-items-center text-center" style="">
		  <div class="card-body"  >
		    <h2 class="card-title">Select your stack</h2>
		    <p class="card-text text-center">Click on your favouite language or framework to see our list of revelvant roles</p>
		    <p class="card-text text-center">
			    <% @code_languages.each do |lang| %>
	  				<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a> 
  				<% end %>
  			</p>
			<p class="card-text text-center">
				<br>
				<%= link_to "View All", jobs_path, class: "btn btn-outline" %>
			</p>
		  </div>
		</div>
	</div>
</div>
