<div class="row align-items-end">
	<div class="col-lg-12">
		<div class="jumbotron text-white" style="">
			<h2 class="">Junior Devs :: Great Jobs</h2>
	  		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<p class="">
				<%= link_to "Explore Jobs", jobs_path, class: "btn btn-success" %>
				<%= link_to "Find Devs", new_user_registration_path, class: "btn btn-outline-light" %>
			</p>
		</div>
	</div>
</div>
<div class="row justify-content-md-center">
  	<div class="col-md-2"></div>
  	<div class="col-md-8  text-center">
		<p>Lorem Khaled Ipsum is a major key to success. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Eliptical talk</p>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row">
	<div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured Job 1</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
	        <a href="#" class="btn btn-warning">Go somewhere</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured Job 2</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
	        <a href="#" class="btn btn-info">Go somewhere</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-4">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured Job 3</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
	        <a href="#" class="btn btn-danger">Go somewhere</a>
	      </div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card align-items-center text-center" style="">
		  <div class="card-body"  >
		    <h2 class="card-title">Select your stack</h2>
		    <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.
		    </p>
		    <p class="card-text text-center">
			    <% @code_languages.each do |lang| %>
	  				<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a> 
  				<% end %>
  			</p>
  			<p class="card-text text-center">
  				<br>
					<%= link_to "View All", jobs_path, class: "btn btn-outline" %>
		    </p>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="card bg-dark text-white" style="background-image: url(''); background-repeat: no-repeat; background-size: cover; height: 300px;" >
			<div class="card-img-overlay">
				<h3 class="card-title">Find your next role</h3>
    			<p class="card-text card-caption">This is a wider card with supporting text below as a natural lead-in to additional content. This 	content is a little bit longer.</p>
    				<%= link_to "Explore Jobs", jobs_path, class: "btn btn-success" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured Company</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
	        <a href="#" class="btn btn-warning">Go somewhere</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h4 class="card-title">Featured Company</h4>
	        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        <p class="card-text"><a href="#" class="btn btn-xs btn-primary">HTML</a> <a href="#" class="btn btn-xs btn-primary">CSS</a> <a href="#" class="btn btn-xs btn-primary">Ruby</a> <a href="#" class="btn btn-xs btn-primary">Rails</a></p>
	        <a href="#" class="btn btn-danger">Go somewhere</a>
	      </div>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card bg-dark text-white"  >
			<div class="card-img-overlay" style="background-image: url('/assets/window.jpg'); " >
				<h3 class="card-title">Add your company</h3>
				<p class="card-text card-caption">This is a wider card with supporting text below as a natural lead-in to additional content. This 	content is a little bit longer.</p>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-warning sign-up' %>  <a href="#">Learn more</a>
			</div>
		</div>
	</div>
</div>
	
