<div class="row">
	<div class="col-md-9">
		<h1><%= @company.company_name %></h1>
		<p><%= @company.location %></p> 
	</div>
</div>
<% if @company.company_youtube.present? %>
	<div class="row">
		<div class="col-md-9">
				<iframe width="100%" height="415" src="https://www.youtube.com/embed/<%= @company.company_youtube %>?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<% elsif @company.wallpaper_url.present? %>
	<div class="row">
		<div class="col-md-9">
		  	<div class="card bg-dark text-white" style="background-repeat: no-repeat; background-size: cover; height: 250px; " >
				<div class="card-img-overlay" style="background-image: url('<%= @company.wallpaper_url %>');>" >
				</div>	
			</div>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="col-md-7">
		<p class="lead"><%= @company.company_strapline %></p>
		<p><%= simple_format(@company.company_description) %></p>
		<hr />
		<p>
			<a href="http://<%= @company.company_url %>" target="_blank">www</a> | 
			<a href="http://<%= @company.company_facebook %>" target="_blank">facebook</a> | 
			<a href="http://<%= @company.company_twitter %>" target="_blank">twitter</a> | 
			<a href="http://<%= @company.company_github %>" target="_blank">github</a>
		</p>
		<hr />
	</div>
	<div class="col-md-2">
		<img src="<%= @company.logo_url %>" class="company-logo">
		<p><% if admin_user? %>Company User ID: <%= @company.user_id %> <% end %></p>
	</div>
</div>
<% if current_user && (current_user.id == @company.user_id || admin_user?) %>
	<div class="row">
		<div class="col-md-8">
			<p><%= link_to 'Edit', edit_company_path(@company), class: "btn btn-xs btn-primary" %>  
			</p>
			<hr />
		</div>
	</div>
<% end %>

<div class="row">
	<div class="col-md-9">
		<h3>Jobs at <%= @company.company_name %></h3>
	</div>
	<% @jobs[0..2].each do |job| %>
		<div class="col-md-8">
		<div class="card">
	      	<div class="card-body">
	      		<% if job.featured == true %>
					<div class="pull-right"> <a class="btn btn-xs btn-warning" href="#">featured</a></div>
				<% end %>
				<h4 class="card-title"><%= link_to job.title, job_path(job) %></h4>
				<small><strong><%= Company.find(job.company_id).company_name %></strong>, <%= job.location %></small> <br/ >
				<hr>	
		        <p class="card-text">
		        	<% job.code_languages.each do |lang| %>
		  				<a href="#" class="btn btn-xs btn-primary"><%= lang.name %></a>
	  				<% end %></p>
	        	<% if current_user && (current_user.id == job.user_id || admin_user?) %>
					<%= link_to 'Edit', edit_job_path(job), class: "btn btn-xs btn-info" %>
					<%= link_to 'Delete', job_path(job), class: "btn btn-xs btn-danger" , method: :delete, data: {confirm: "Are you sure?"} %></td>
					<% end %>
	      	</div>
	    </div>
	</div>
	<% end %>
</div>


