<div class="row">
	<div class="col-md-3">
		<%= render '/admin/menu' %>
	</div>
	<div class="col-md-9">
		<div class="section-container">
			<h1>Code Languages</h1>
			<p>This section allows you to manage the coding languages and framworks that appear thoughtout the site</p>
			<p>You can add new languages, edit old ones and delete them. It's also possible to change the colours that are used to represent the languages thoughout the site.</p>
			<hr />
			<table>
				<tr>
					<th>Languages</th>
				</tr>
				<% @code_languages.each do |lang| %>
					<tr>
						<td style="width: 100%;"><%= lang.name %></td>
						<td><%= link_to 'Edit', edit_code_language_path(lang.id), class: "btn btn-xs btn-info" %></td>
						<td><%= link_to 'Delete', code_language_path(lang.id), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>
					</tr>
				<% end %>
			</table>
			<p class="submit-button-spacer"><%= link_to "Add new language", new_code_language_path, class: "btn btn-success" %></p>
		</div>
	</div>
</div>
